black==22.8.0
blinker==1.5.0
certifi==2024.2.2
charset-normalizer==3.0.1
click==8.0.4
exceptiongroup
flake8
Flask
Flask-SQLAlchemy
greenlet
idna
iniconfig
itsdangerous
Jinja2
MarkupSafe
mccabe
mypy-extensions
packaging
pathspec
platformdirs
pluggy
psycopg2-binary
pycodestyle
pyflakes
pytest
requests
SQLAlchemy
tomli
typing_extensions
urllib3
Werkzeug
